.checkboxes-select {
	position: relative;
}
.checkboxes-select-options {
	position: absolute;
	left: 0;
	top: 100%;
	min-width: 100%;
	max-height: 215px;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: hidden;
	transition: opacity 0.1s ease, visibility 0s 0.1s;
	-webkit-transition: opacity 0.1s ease, visibility 0s 0.1s;
}
.checkboxes-select.active .checkboxes-select-options {
	opacity: 1;
	filter: alpha(opacity=100);
	visibility: visible;
	transition-delay: 0s;
}
.checkboxes-select-options label {
	padding: 3px 15px;
	white-space: nowrap;
}
.checkboxes-select-title {
	cursor: pointer;
}
.checkboxes-select-title .fa {
	float: right;
	line-height: inherit;
}
.checkboxes-select-title-inner {
	display: inline-block;
	max-width: 90%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}