.form-item-sortable {
  position: relative;
}
.form-sortable {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -31px;
  line-height: 1;
}
.form-sortable .form-sortable-drag {
  cursor: move;
}
.form-sortable .form-sortable-up,
.form-sortable .form-sortable-down {
  text-align: center;
  cursor: pointer;
}
.form-collapsible.collapsed > .form-sortable {
  margin-top: -21px;
}
.form-item-sortable.dragging * {
  cursor: move !important;
}