.form-error {
	color: #A94442;
	background-color: #F2DEDE;
	border-color: #EBCCD1;
	padding: 15px;
	margin-bottom: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.form-item {
	margin: 10px 0;
	max-width: 100%;
	width: 400px;
}
.form-item:first-of-type {
	margin-top: 0;
}
.form-item:last-of-type {
	margin-bottom: 0;
}

.form-label {
	display: block;
	font-weight: normal;
}

.form-input {
	position: relative;
}

select,
textarea,
input {
	font-family: inherit;
	font-size: inherit;
}
.form-select,
.form-textfield {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 34px;
	padding: 6px 8px;
	color: #333;
	background: #fff;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.form-select:focus,
.form-textfield:focus {
	border-color: #66AFE9;
	outline: 0px none;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}
.form-textarea {
	height: 100px;
}

.form-number {
	max-width: 100px;
}

.checkbox-label .fa {
	margin-right: 2px;
}
.checkbox-label .checkbox-icon-checked {
	display: none;
}
.checkbox-label input {
	display: none;
}
.checkbox-label input:checked ~ .checkbox-icon-checked {
	display: inline-block;
}
.checkbox-label input:checked ~ .checkbox-icon-unchecked {
	display: none;
}

.form-item-error .form-label {
	color: #A94442;
}
.form-item-error .form-textfield {
	border-color: #A94442;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.form-item-error .form-textfield:focus {
	border-color: #843534;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 6px #CE8483;
}

.form-input-error {
	color: #A94442;
}

.form-item-icon .form-input {
	display: table;
	width: 100%;
}
.form-item-icon .form-textfield {
	display: table-cell;
	border-radius: 0 4px 4px 0;
	width: 100%;
}
.form-icon-addon {
	display: table-cell;
	width: 40px;
	vertical-align: middle;
	font-size: 16px;
	padding: 0 10px;
	line-height: 14px;
	color: #555;
	text-align: center;
	background-color: #EEE;
	border: 1px solid #CCC;
	border-radius: 4px 0 0 4px;
	border-right: 0;
	box-sizing: border-box;
}

.form-icon-feedback {
	position: absolute;
	right: 10px;
	top: 0;
	font-size: 18px;
	line-height: 34px;
}
.form-icon-error {
	color: #A94442;
}

.form-item-loader {
	display: none;
	font-size: 24px;
}
.form-item-loader .fa-pulse {
	animation-duration: 0.7s;
	-webkit-animation-duration: 0.7s;
}
.form-item.loading > .form-item-loader {
	display: block;
}
.form-item.loading > .form-add-button {
	display: none;
}


.form-type-address,
.form-type-fieldset {
	border: 1px solid #ddd;
	padding: 15px;
	border-radius: 4px;
	box-sizing: border-box;
}
.form-type-address:after,
.form-type-container:after,
.form-type-fieldset:after {
	content: "";
	display: block;
	clear: both;
}
.form-type-fieldset > .form-label,
.form-type-address > .form-label {
	position: relative;
	top: -5px;
	font-weight: 600;
	color: #959595;
	font-size: 12px;
	text-transform: uppercase;
}
.form-type-address .form-name-postal-code {
	max-width: 100px;
	float: left;
	margin-top: 0;
}
.form-type-address .form-name-locality {
	max-width: 256px;
	margin-left: 10px;
	float: left;
	margin-top: 0;
}

.form-type-editor {
	width: auto;
}

.form-type-actions .form-item {
	float: left;
	margin: 0 10px 0 0;
	width: auto;
}
.form-type-actions:after {
	clear: both;
	content: "";
	display: block;
}

.form-type-checkboxes .form-label,
.form-type-checkbox .form-label {
	cursor: pointer;
}

.form-file-upload,
.form-type-file.has-value > .form-input > .form-file-preview {
	display: block;
}
.form-type-file.has-value > .form-input > .form-file-upload,
.form-type-file.loading > .form-input > .form-file-upload,
.form-type-file.loading > .form-input > .form-file-preview,
.form-file-preview {
	display: none;
}
.form-file-upload-button {
	position: relative;
	display: inline-block;
	overflow: hidden;
}
.form-file {
	position: absolute;
	top: 2px;
	bottom: 2px;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.form-file-preview-image {
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 350px;
}
.form-type-file .form-add-button,
.form-type-file .form-delete-button {
	display: none;
}

.form-search .form-item {
	float: left;
	margin: 0 10px 0 0;
}
.form-search:after {
	clear: both;
	display: block;
	content: "";
}


.autocomplete-preview {
	background: none;
	color: #333;
	padding: 6px 32px 6px 12px;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 400;
	white-space: nowrap;
	vertical-align: middle;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.autocomplete-remove {
	color: #C9302C;
	top: 6px;
	right: 12px;
}
.autocomplete-items {
	background: #fff;
	padding: 3px 0;
	margin-top: 2px;
	box-shadow: 0 6px 12px rgba(0,0,0,0.18);
	border-radius: 4px;
	border: 1px solid #ccc;
}
.autocomplete-item.active {
	background: #f5f5f5;
}